<h2>Exchange Match Suggestions</h2>
{% if matches %}
  <table border="1">
    <tr>
      <th>Teacher</th>
      <th>Current School</th>
      <th>Wants to go to</th>
      <th>Subject</th>
    </tr>
    {% for match in matches %}
      <tr>
        <td>{{ match.teacher.get_full_name }}</td>
        <td>{{ match.current_school.name }}</td>
        <td>{{ match.desired_school.name }}</td>
        <td>{{ match.subject_taught }}</td>
        <td>
            <a href="{% url 'transfers:send_exchange_request' match.teacher.id %}">Request Exchange</a>
          </td>
          
      </tr>
    {% endfor %}
  </table>
{% else %}
  <p>No matching exchanges found at the moment.</p>
{% endif %}

